@import 'public/scss/mixins';

.post {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  padding: 6.25vw 40px;
  @include media-mobile {
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 9vh;
    padding: 0 16px;
  }

  &__description-container {
    display: flex;
    flex-direction: column;
    width: 540px;
    @include media-mobile {
      width: auto;
    }
  }

  &__date {
    color: grey;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vw;
    line-height: 100%;
    letter-spacing: -1.92px;
    @include media-mobile {
      font-size: 32px;
      letter-spacing: -1.28px;
    }
  }

  &__title {
    margin-top: 8px;
    color: white;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.92px;
    @include media-mobile {
      font-size: 32px;
      letter-spacing: -1.28px;
    }
  }

  &__description {
    margin: 32px 0;
    color: grey;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.96px;
    @include media-mobile {
      margin: 24px 0;
    }
  }

  &__link-container {
    display: flex;
    gap: 8px;
    margin: 8px 0;
    color: white;
  }

  &__link {
    width: fit-content;
    padding: 0.83vw 2vw;
    border: 2px solid #fff;
    border-radius: 30px;
    font-weight: 500;
    font-style: normal;
    @include find-value-3pts-vw('font-size', 18, 18, 20);

    line-height: normal;
    @include media-mobile {
      padding: 8px 20px;

      &:active {
        background-color: #fff;
        color: #060606;
      }
    }
    @include media-desk {
      &:hover {
        background-color: #fff;
        color: #060606;
      }
    }
  }

  &__image-container {
    position: relative;
    @include media-desk{
      width: 50%;
    }
  }

  &__picture {
    img {
      width: 100%;
      border-radius: 40px;
      @include media-mobile {
        object-fit: cover;
        height: 100%;
        border-radius: 24px;
      }
    }
  }

  &__tags-container {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    gap: 8px;
    @include media-mobile {
      top: 16px;
      left: 16px;
    }
  }

  &__tag {
    width: fit-content;
    padding: 8px 16px;
    border: 1px solid rgba(224, 224, 224, 0.06);
    border-radius: 90px;
    background: rgba(224, 224, 224, 0.05);
    color: grey;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.72px;
    backdrop-filter: blur(22.5px);
    @include media-mobile {
      font-size: 16px;
      letter-spacing: -0.64px;
    }
  }
}
