@import 'public/scss/mixins';

.message {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  max-width: 1840px;
  height: 442px;
  text-align: center;
  @include find-value-3pts-vw(gap, 16, 24, 24);

  @include media-mobile {
    height: 552px;
  }

  &__title {
    color: #fff;
    font-weight: 500;
    @include find-value-3pts-vw(font-size, 32, 48, 48);
    @include find-value-3pts-vw(letter-spacing, -1.28, -1.92, -1.92);
    
    &_error {
      color: #f00;
    }
  }
  
  &__text {
    color: #676767;
    font-weight: 400;
    @include find-value-3pts-vw(font-size, 18, 32, 32);
    @include find-value-3pts-vw(letter-spacing, -0.72, -1.28, -1.28);
  }
}

