@import "public/scss/mixins";


.map-point {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);

    @include media-mobile {
        visibility: visible;
    }

    &__ellipse {
        @include find-value-3pts-vw (height, 10, 16, 24);
        @include find-value-3pts-vw (width, 10, 16, 24);
    }


    &__label {
        position: absolute;
        display: flex;
        justify-content: center;
        border: 1px solid rgba(224, 224, 224, 0.06);
        background: rgba(224, 224, 224, 0.05);
        white-space: nowrap;
        visibility: hidden;
        transform: translateY(-100%);
        backdrop-filter: blur(22.5px);
        @include find-value-3pts-vw (gap, 4.5, 6.5, 10);
        @include find-value-3pts-vw (padding-top, 3.5, 5.3, 8);
        @include find-value-3pts-vw (padding-right, 10, 17.5, 26);
        @include find-value-3pts-vw (padding-bottom, 3.5, 5.3, 8);
        @include find-value-3pts-vw (padding-left, 10, 17.5, 26);
        @include find-value-3pts-vw (border-radius, 40, 60, 90);
        @include find-value-3pts-vw(top, -5.17, -7.67, -12);
    }

    &__flag-icon {
        @include find-value-3pts-vw (width, 9.4, 14, 21);

        flex-shrink: 0;
    }

    &__name {
        @include find-value-3pts-vw (font-size, 8, 12, 18);
        @include find-value-3pts-vw (letter-spacing, -0.72, -0.48, -0.32);

        color: rgba(255, 255, 255, 0.54);
    }

    &__ellipse:hover+&__label {
        visibility: visible;
    }
}
