@import "public/scss/mixins";

.presenters {
  $root: &;

  position: relative;
  // height: calc(100 * var(--vh));
  padding: 0 find-value-1pts-vw-mobile(16);
  @include media-mobile{
    margin: find-value-1pts-vh-mobile(120) 0 find-value-1pts-vh-mobile(105);
  }

  &__swiper {
    margin-bottom: find-value-1pts-vh-mobile(60);
  } 
}
