@import "public/scss/mixins";

.header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  transition: all 0.01s ease-in-out;

  &__sticky {
    position: sticky;
    top: 0;
    background: rgba(18, 18, 18, 0.2);
    backdrop-filter: blur(12px);

  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: find-value-1pts-vw-fhd(24);
  }

  &__menu {
    display: flex;
    gap: find-value-1pts-vw-fhd(24);
    align-items: center;
    justify-content: space-between;
    @include find-value-3pts-vw(font-size, 18, 18, 18);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 67px;

    img {
      object-fit: contain;
    }
  }
}
