@import 'public/scss/mixins';

.title {
  @include find-value-3pts-vw(font-size, 32, 40, 48);

  margin-bottom: 40px;
  color: white;
  line-height: normal;
  letter-spacing: -0.001vw;

  @include media-mobile {
    margin-bottom: 24px;
    letter-spacing: -1.28px;
  }
}
