@import 'public/scss/mixins';

.section-video {
  &__video-container {
    position: relative;
    z-index: 3;
    height: calc(var(--vh) * 300);
  }

  &__text-container {
    position: relative;
    z-index: 2;
    height: calc(var(--vh) * 200);
    margin-top: calc(-100 * var(--vh));
  }

  &__sticky-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    height: calc(100 * var(--vh));
  }

  &__video {
    position: relative;
    z-index: 2;
    object-fit: cover;
    background: rebeccapurple;
    @include media-mobile {
      height: 100%;
    }
    @include media-desk {
      width: 100%;
      aspect-ratio: 16/9;
    }
  }

  &__volume {
    position: absolute;
    right: 56px;
    bottom: 24px;
    z-index: 5;
    border: none;
    background:none;
    outline: none;
    cursor: pointer;
    @include media-mobile {
      right: 24px;
      bottom: 24px;
    }
  }

  &__text {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100 * var(--vh));
    padding: 0 find-value-1pts-vw-mobile(16);
    @include media-mobile {
      height: calc(90 * var(--vh));
    }
  }

  &__content {
    color: #676767;
    letter-spacing: -2.4px;
    text-align: center;
    @include find-value-3pts-vw(font-size, 32, 40, 60);
    @include media-mobile{
      line-height: 38.73px;
    }

    span {
      color: #fff;
    }
  }
}
